<div class="container">
  <div class="column">
    <svg
      #svgContainer
      [attr.viewBox]="'0 0 ' + svgWidth + ' ' + svgHeight"
      preserveAspectRatio="none"
      (click)="addPoint($event)"
      style="width: 100%; height: 100%; border: 2px solid red;">

      <!-- Фоновое изображение (прозрачный SVG план) -->
      <image [attr.href]="'assets/plan.jpg'"
             width="100%"
             height="100%"
             pointer-events="none"/>

      <!-- Динамические точки -->
<!--      <circle *ngFor="let point of points; let i = index"-->
<!--              [attr.cx]="point.x"-->
<!--              [attr.cy]="point.y"-->
<!--              r="5"-->
<!--              fill="red"-->
<!--              (click)="showInfo($event, point)"/>-->

      <circle
        *ngIf="svgForm.get('coordinateX')?.value && svgForm.get('coordinateY')?.value"
        [attr.cx]="svgForm.get('coordinateX')?.value"
        [attr.cy]="svgForm.get('coordinateY')?.value"
        r="5"
        fill="red"
        stroke="black"
        stroke-width="1"
      />
    </svg>
  </div>

</div>

<p-dialog header="Add point" [modal]="true" [(visible)]="visibleDialog" [style]="{ width: '40rem' }">
  <span class="p-text-secondary block mb-5">Update your information.</span>

  <form class="mt-2" [formGroup]="svgForm">
    <div class="d-grid">
      <label for="coordinateX">CoordinateX</label>
      <input
        readonly
        pInputText
        id="coordinateX"
        formControlName="coordinateX"/>
    </div>
    <div class="d-grid mt-2">
      <label for="coordinateX">CoordinateY</label>
      <input
        readonly
        pInputText
        id="coordinateY"
        formControlName="coordinateY"/>
    </div>

    <div class="d-grid mt-2">
      <label for="pointName">Point name</label>
      <input
        pInputText
        id="pointName"
        formControlName="pointName"/>
    </div>

    <div class="d-grid mt-2">
      <label for="description">Description</label>

      <textarea
        id="description"
        rows="5"
        cols="30"
        pInputTextarea
        formControlName="description"></textarea>
    </div>

  </form>


  <div class="flex justify-content-end gap-2 mt-2 actions">
    <p-button label="Отмена" severity="secondary" (onClick)="visibleDialog = false"/>
    <p-button label="Сохранить" (onClick)="saveNewPoint()"/>
  </div>
</p-dialog>
