/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.mt-2 {
  margin-top: 1em;
}

.mb-2 {
  margin-bottom: 1em
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

input:focus, textarea:focus, p-button:focus {
  outline: none; /* Убирает синюю обводку */
  box-shadow: none; /* Убирает тень, если она есть */
}
.d-none {
  display: none
}
.w-100 {
  width: 100%;
}
.bordered {
  border: 1px solid darkgrey;
  border-radius: 5px;
  padding: 10px;
}
